.main {
  width: 50vw;
  height: 90vh;
  margin: 20px auto;
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
}

.img-menu {
  cursor: pointer;
}

.main .mantine-Paper-root {
  width: 100%;
  height: fit-content;
  background-color: rgba(255, 255, 255, .9);
}

body {
  background-color:none; /*cadetblue;*/
}

@media (max-width: 1000px)  {
  .main {
    width: 80vw;
  }
}

@media (max-width: 500px)  {
  .main {
    width: 98vw;
  }
}

.disabled {
  filter: grayscale(100%);
  cursor: not-allowed;
}

.settingStatus {
  display: flex;
  align-items: center;
  justify-content: center;
}

html {
  height: 100%;
  width: 100%;
  background-color: hsla(200, 100%, 66%, 0.633);
  background-image:   
    url('./fly.png'), 
    url('./tree.png'),
    url('https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png'),
    url('./mount.png'),
    url('https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png');
  background-repeat: repeat-x;
  background-position: 
    0 20%,
    0 100%,
    0 50%,
    0 100%,
    0 0;
  background-size: 
    1500px,
    1000px,
    500px 200px,
    2500px,
    400px 260px;
  animation: 90s para infinite linear;
  }

@keyframes para {
  100% {
    background-position: 
      5000px 20%,
      800px 95%,
      -500px 50%,
      -1000px 100%,
      -400px 0;
    }
  }