.main {
  width: 50vw;
  height: 90vh;
  margin: 20px auto;
  display: flex;
  text-align: center;
  align-content: center;
  justify-content: center;
}

.img-menu {
  cursor: pointer;
}

.main .mantine-Paper-root {
  width: 100%;
  height: fit-content;
}

body {
  background-color:cadetblue;
}

@media (max-width: 1000px)  {
  .main {
    width: 80vw;
  }
}

@media (max-width: 500px)  {
  .main {
    width: 98vw;
  }
}